/* GLOBAL STYLES */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
  font-family: 'Roboto', sans-serif;
  scroll-behavior: smooth;
}

:root {
  --main-font-color: #f2b632;
  --main-white: #fff;
  --main-font-dark-gray: #4d4d4d;
  --main-footer-bg-color: #141414;
  --main-font-family: 'Cheddar Jack', cursive;
}

section {
  padding: 6rem 0;
}

p {
  line-height: 1.5;
  font-size: 1.8rem;
  font-weight: 300;
  color: var(--main-font-dark-gray);
}

a {
  text-decoration: none;
  color: var(--main-white);
}
/* GLOBAL STYLES ENDS */

/* REUSABLE CLASSES */
.btn {
  display: inline-block;
  transition: all 650ms;
  border-radius: 3px;
  text-transform: uppercase;
}

.btn-info {
  font-size: 1.2rem;
  padding: 1rem;
  color: var(--main-font-color);
  border-bottom: 2px solid var(--main-font-color);
  margin: 2rem 0 4rem 0;
}

.btn-info:hover {
  background-color: var(--main-footer-bg-color);
  color: var(--main-white);
}

.custom-font {
  font-family: var(--main-font-family);
  color: var(--main-font-color);
  font-size: 6.5rem;
  line-height: 1;
  font-weight: 100;
}

.custom-font-secondary {
  text-transform: uppercase;
  letter-spacing: 5px;
  margin-right: -5px;
  font-size: 2.5rem;
  line-height: 0.2;
  color: var(--main-font-dark-gray);
  margin-bottom: 5rem;
}

.container {
  width: 90%;
  margin: 0 auto;
  text-align: center;
}

.between-sec {
  padding: 20rem 0;
  text-align: center;
}

.between-sec-color {
  color: var(--main-white);
}
/* REUSABLE CLASSES ENDS */

/* HEADER */
header {
  width: 100%;
  height: 100vh;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.9), transparent),
    url('images/hero.jpeg') bottom no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  text-align: center;
  position: relative;
}
/* HEADER ENDS */

/* HEADER - NAV TOOGLE */
.menu {
  padding: 2rem 2.5rem;
  position: fixed;
  top: 3rem;
  right: 3rem;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
  border-radius: 3px;
  cursor: pointer;
}

.menu .bar,
.menu .bar::before,
.menu .bar::after {
  content: '';
  position: absolute;
  height: 2px;
  width: 4rem;
  background-color: var(--main-white);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  transition: 650ms;
}

.menu .bar::before {
  top: 2rem;
}

.menu .bar::after {
  top: -2rem;
}

.active .bar {
  background-color: transparent;
}

.active .bar::before {
  transform: rotate(45deg);
}

.active .bar::after {
  transform: rotate(-45deg);
}

.active .bar::before,
.active .bar::after {
  top: 0;
}
/* HEADER - NAV TOOGLE ENDS */

/* HEADER - NAV */
#logo {
  display: none;
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: 300;
  border-bottom: 1px solid #fff;
  margin-bottom: -5px;
}

.nav {
  width: 100%;
  height: 6rem;
  line-height: 6rem;
  position: relative;
}

.overlay {
  background-color: rgba(0, 0, 0, 0.95);
  position: fixed;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  z-index: 1;
  transition: opacity 650ms;
  transform: scale(0);
  opacity: 0;
}

.overlay.menu-open {
  transform: scale(1);
  opacity: 1;
}

.nav .overlay ul {
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.nav .overlay ul li {
  text-transform: uppercase;
}

.nav .overlay ul li a {
  display: block;
  font-size: 2rem;
  transition: all 650ms;
}

.nav .overlay ul li a:hover,
.nav .overlay ul li a .active:hover {
  color: var(--main-font-color);
  border-bottom-color: var(--main-font-color);
}
/* HEADER - NAV ENDS */

/* HEADER - MAIN TEXT */
.main-text {
  line-height: 0;
  margin: auto;
  color: var(--main-white);
  user-select: none;
}

.main-text h1 {
  font-family: var(--main-font-family);
  color: var(--main-font-color);
  font-size: 8rem;
  font-weight: 100;
  margin-bottom: 5rem;
}

.main-text h2 {
  text-transform: uppercase;
  letter-spacing: 5px;
  margin-right: -5px;
  font-size: 2rem;
  line-height: 1;
  position: relative;
}

.main-text h2::before,
.main-text h2::after {
  content: '';
  width: 5rem;
  height: 3px;
  top: 50%;
  transform: translate(-50%);
  position: absolute;
  background-color: var(--main-white);
  border-radius: 8px;
}

.main-text h2::before {
  left: -2rem;
}

.main-text h2::after {
  right: -6rem;
}

.main-btn {
  font-size: 1.5rem;
  border: 2px solid var(--main-font-color);
  padding: 2rem 2.5rem;
  letter-spacing: 3px;
  margin-right: -3px;
  position: relative;
  margin-top: 3rem;
}

.main-btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
}

.main-btn:active {
  transform: translateY(0);
  box-shadow: none;
}
/* HEADER - MAIN TEXT ENDS */

/* SECTION - OUR STORY */
.store {
  width: 100%;
  min-height: 30rem;
  background: url('images/store.jpeg') center no-repeat;
  background-size: cover;
}
/* SECTION - OUR STORY ENDS */

/* SECTION - FRESH INGREDIENTS */
.fresh-ingredients {
  width: 100%;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url('images/between.jpeg') center no-repeat;
  background-size: cover;
}
/* SECTION - FRESH INGREDIENTS ENDS */

/* SECTION - OUR MENU */
.image-group {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
}

.image-group img {
  width: 100%;
  height: 30rem;
}
/* SECTION - OUR MENU ENDS */

/* SECTION - CITRUS GOODNESS */
.citrus-goodness {
  width: 100%;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url('images/between2.jpeg') center no-repeat;
  background-size: cover;
}
/* SECTION - CITRUS GOODNESS ENDS */

/* SECTION - CONTACT US */
.contact-us form {
  width: 100%;
  min-width: 9rem;
  margin-top: 5rem;
}

.input,
.text-area {
  width: 100%;
  max-width: 100%;
  margin: 5px 0;
  padding: 5px 1rem;
  border-radius: 3px;
  font-size: 1.5rem;
  border: 1px solid var(--main-footer-bg-color);
  color: #878787;
}

.input::placeholder,
.text-area::placeholder {
  color: #878787;
}

.text-area {
  height: 10rem;
}

.btn-submit {
  background-color: var(--main-footer-bg-color);
  color: var(--main-white);
  width: 100%;
  padding: 1rem 0;
  cursor: pointer;
}

.btn-submit {
  background-color: #e1aa2f;
}
/* SECTION - CONTACT US ENDS */

/* FOOTER */
footer {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  text-align: center;
  background-color: var(--main-footer-bg-color);
  padding: 5rem 0;
  font-size: 1.8rem;
  color: var(--main-white);
}

footer h4 {
  font-size: 3rem;
  text-transform: uppercase;
  margin-bottom: 1.5rem;
  color: var(--main-footer-bg-color);
  font-weight: 100;
  font-family: 'Bebas Neue', sans-serif;
}
/* FOOTER ENDS */

/* MEDIA QUERIES */
@media screen and (min-width: 769px) {
  header,
  .between-sec {
    background-attachment: fixed;
  }

  .menu {
    display: none;
  }

  .nav {
    display: flex;
    padding: 2rem 10rem 0;
    justify-content: space-between;
  }

  #logo {
    display: block;
  }

  .nav .overlay {
    position: initial;
    background: none;
    opacity: initial;
    transform: initial;
  }

  .nav .overlay ul {
    flex-direction: row;
    list-style: none;
    margin-top: 2px;
  }

  .nav .overlay ul li a {
    font-size: 1.5rem;
    letter-spacing: 1px;
    margin-right: -1px;
    padding: 0 2rem;
  }

  .container {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .center {
    flex: 1;
  }

  .add-flex {
    flex: 1;
  }

  .add-padding-right {
    padding-right: 10rem;
  }

  .first {
    order: 1;
  }

  .second {
    order: 2;
  }

  .store {
    min-height: 40rem;
  }

  .btn-info {
    font-size: 1.8rem;
  }

  .main-text h1 {
    transform: translateY(4rem);
    opacity: 0;
    animation: 0.5s fadeUp 0.5s forwards;
  }

  .main-text h2 {
    transform: scale(2);
    opacity: 0;
    animation: fadeIn 0.5s forwards;
  }

  .main-text .main-btn {
    opacity: 0;
    animation: 0.5s fade 1s forwards;
  }

  @keyframes fadeIn {
    0% {
      transform: scale(2);
      opacity: 0;
    }
    100% {
      transform: scale(1);
      opacity: 1;
    }
  }

  @keyframes fadeUp {
    0% {
      transform: translateY(4rem);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }

  @keyframes fade {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
}
/* MEDIA QUERIES ENDS */
